<nav class="navbar navbar-expand-lg navbar-light container-main">
  <button class="navbar-toggler container-main__hamburger-menu" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation" style="padding: 0px;">
    <img src="./../../assets/jpg/menuham.svg" alt="" width="30px" style="padding: 0px;" class="container-main__hamburger-men--img">
  </button>
  <div class="collapse navbar-collapse container-main__container-header" id="navbarTogglerDemo01">
    <img src="./../../assets/jpg/logoheader.svg" alt="" class="container-main__container-header--img">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 container-main__container-header--list">
      <li class="nav-item active container-main__container-header__list__container-txt">
        <a class="container-main__container-header__list__container-txt--txt" href="#" id="btnauto">Autos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item container-main__container-header__list__container-txt">
        <a class="container-main__container-header__list__container-txt--txt" href="#">Noticias</a>
      </li>
      <li class="nav-item container-main__container-header__list__container-txt">
        <a class="disabled container-main__container-header__list__container-txt--txt" href="#">FAQs</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="container-main__container-header__input-shearch" type="search" placeholder="Search" aria-label="Search">
      <button class="container-main__container-header__button" type="submit">
        <img src="./../../assets/jpg/buscar.svg" alt="" class="container-main__container-header__button__img">
      </button>
    </form>
  </div>
</nav>

<ul class="container-list hide" id="contitemauto">
  <ul class="container-list__categori">
    <li class="txtcat">Categoria 1 
      <div class="contca"></div>
    </li>
    <li class="container-list__categori__list">Categoria 1</li>
    <li class="container-list__categori__list">Categoria 1</li>
    <li class="container-list__categori__list">Categoria 1</li>
    <li class="container-list__categori__list">Categoria 1</li>
  </ul>
  <div class="container-list__sub-content">
    <ul >
      <li class="container-list__sub-content__group-content">
        <img src="./../../assets/jpg//imghead.png" alt="" class="container-list__sub-content__group-content__img">
        <p class="container-list__sub-content__group-content__title">Nullam Venenatis</p>
        <p class="container-list__sub-content__group-content__price">$48.500.000</p>
      </li>
      <li class="container-list__sub-content__group-content">
        <img src="./../../assets/jpg//imghead.png" alt="" class="container-list__sub-content__group-content__img">
        <p class="container-list__sub-content__group-content__title">Nullam Venenatis</p>
        <p class="container-list__sub-content__group-content__price">$48.500.000</p>
      </li>
    </ul>
    <ul>
      <li class="container-list__sub-content__group-content">
        <img src="./../../assets/jpg//imghead.png" alt="" class="container-list__sub-content__group-content__img">
        <p class="container-list__sub-content__group-content__title">Nullam Venenatis</p>
        <p class="container-list__sub-content__group-content__price">$48.500.000</p>
      </li>
      <li class="container-list__sub-content__group-content">
        <img src="./../../assets/jpg//imghead.png" alt="" class="container-list__sub-content__group-content__img">
        <p class="container-list__sub-content__group-content__title">Nullam Venenatis</p>
        <p class="container-list__sub-content__group-content__price">$48.500.000</p>
      </li>
    </ul>
    <ul>
      <li class="container-list__sub-content__group-content">
        <img src="./../../assets/jpg//imghead.png" alt="" class="container-list__sub-content__group-content__img">
        <p class="container-list__sub-content__group-content__title">Nullam Venenatis</p>
        <p class="container-list__sub-content__group-content__price">$48.500.000</p>
      </li>
      <li class="container-list__sub-content__group-content">
        <img src="./../../assets/jpg//imghead.png" alt="" class="container-list__sub-content__group-content__img">
        <p class="container-list__sub-content__group-content__title">Nullam Venenatis</p>
        <p class="container-list__sub-content__group-content__price">$48.500.000</p>
      </li>
    </ul>
  </div>
</ul> 