<!-- Slaidere -->
<div id="demo" class="carousel slide" data-ride="carousel">

<!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
<!-- The slideshow -->
  <section class="carousel-inner cont-main container-main">
    <div class="carousel-item active container-main__card-red">
        <div class="container-main__card-red__sub-container">
            <h1 class="container-main__card-red__sub-container--tittle">Lorem ipsum dolor sit amet</h1>
            <p class="container-main__card-red__sub-container--paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            <button class=" container-main__card-red__sub-container--button">ACTION</button>
        </div>
    </div>
    <div class="carousel-item container-main__card-blue">
      <div class="container-main__card-blue__sub-container">
          <h1 class="container-main__card-blue__sub-container--tittle">Lorem ipsum dolor sit amet</h1>
          <p class="container-main__card-blue__sub-container--paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
          <button class="container-main__card-blue__sub-container--button">ACTION</button>
      </div>
    </div>
    <div class="carousel-item container-main__card-green">
      <div class="container-main__card-green__sub-container">
          <h1 class="container-main__card-blue__sub-container--tittle">Lorem ipsum dolor sit amet</h1>
          <p class="container-main__card-blue__sub-container--paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
          <button class="container-main__card-blue__sub-container--button">ACTION</button>
      </div>
    </div>
  </section>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<!-- Noticias -->
<div class="container-main-notice">
  <div class="container-main-notice__container-tittle">
    <p class="container-main-notice__container-tittle--notice">Noticias</p>
    <div class="container-main-notice__container-tittle--line"></div>
  </div>

  <div class="container-main-notice__container-txt">
    <div class="container-main-notice__container-txt--container-img-red">
      <img src="./../../assets/jpg/1.jpg" alt="carro" class="container-main-notice__container-txt--container-img-red--img">
    </div>
    <div class="conttextonot container-main-notice__container-txt__container-group-txt">
      <p class="container-main-notice__container-txt__container-group-txt--title">Lorem ipsum dolor sit amet, consectetuer</p>
      <p class="container-main-notice__container-txt__container-group-txt--subtitle">Lorem ipsum dolo dolor oreet do</p>
      <p class="container-main-notice__container-txt__container-group-txt--paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat voluvvvm nonummy nibh euismod tincidunt ut laoreet</p>
    </div>
  </div>

  <div class="container-main-notice__container-txt--container-none">
    <div class="container-main-notice__container-txt--container-img-red">
      <img src="./../../assets/jpg/1.jpg" alt="carro" class="container-main-notice__container-txt--container-img-red--img">
    </div>
    <div class="conttextonot container-main-notice__container-txt__container-group-txt">
      <p class="container-main-notice__container-txt__container-group-txt--title">Lorem ipsum dolor sit amet, consectetuer</p>
      <p class="container-main-notice__container-txt__container-group-txt--subtitle">Lorem ipsum dolo dolor oreet do</p>
      <p class="container-main-notice__container-txt__container-group-txt--paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat voluvvvm nonummy nibh euismod tincidunt ut laoreet</p>
    </div>
  </div>

  <div class="container-main-notice__container-txt">
    <div class="conttextonot container-main-notice__container-txt__container-group-txt">
      <p class="container-main-notice__container-txt__container-group-txt--title">Lorem ipsum dolor sit amet, consectetuer</p>
      <p class="container-main-notice__container-txt__container-group-txt--subtitle">Lorem ipsum dolo dolor oreet do</p>
      <p class="container-main-notice__container-txt__container-group-txt--paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat voluvvvm nonummy nibh euismod tincidunt ut laoreet</p>
    </div>
    <div class="container-main-notice__container-txt--container-img-red">
      <img src="./../../assets/jpg/2.jpg" alt="carro" class="container-main-notice__container-txt--container-img-red--img">
    </div>
  </div>

  <div class="container-main-notice__container-txt">
    <div class="container-main-notice__container-txt--container-img-red">
      <img src="./../../assets/jpg/3.jpg" alt="carro" class="container-main-notice__container-txt--container-img-red--img">
    </div>
    <div class="conttextonot container-main-notice__container-txt__container-group-txt">
      <p class="container-main-notice__container-txt__container-group-txt--title">Lorem ipsum dolor sit amet, consectetuer</p>
      <p class="container-main-notice__container-txt__container-group-txt--subtitle">Lorem ipsum dolo dolor oreet do</p>
      <p class="container-main-notice__container-txt__container-group-txt--paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat voluvvvm nonummy nibh euismod tincidunt ut laoreet</p>
    </div>
  </div>
</div>

<!-- FAQs segmento -->
  <div class="container-faqs">
    <div class="container-faqs__container-group">
      <div class="container-faqs__container-group__tittle">
        <p class="container-faqs__container-group__tittle--notice">FAQs</p>
        <div class="container-faqs__container-group__tittle--line"></div>
      </div>
      <p class="container-faqs__container-group--txt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat voluvvvm nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.  enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. erat voluvvvm nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.  enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
    </div>

    <!-- COLLAPSE segmento -->
    <div class="container-collapse">
      <p class="container-collapse__sub-container">
        <a class="container-collapse__sub-container--button" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Item One
          <img src="./../../assets/jpg/flecha_abajo.svg" alt="" class="container-collapse__sub-container--icon">
        </a>
      </p>
      <div class="container-collapse__close" id="collapseExample">
        <div class="container-collapse__close--txt">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliqui        </div>
      </div>
    </div>

    <div class="container-collapse">
      <p class="container-collapse__sub-container">
        <a class="container-collapse__sub-container--button" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
          Item One
          <img src="./../../assets/jpg/flecha_abajo.svg" alt="" class="container-collapse__sub-container--icon">
        </a>
      </p>
      <div class="container-collapse__close" id="collapseExample2">
        <div class="container-collapse__close--txt">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliqui        </div>
      </div>
    </div>

    <div class="container-collapse">
      <p class="container-collapse__sub-container">
        <a class="container-collapse__sub-container--button" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
          Item One
          <img src="./../../assets/jpg/flecha_abajo.svg" alt="" class="container-collapse__sub-container--icon">
        </a>
      </p>
      <div class="container-collapse__close" id="collapseExample3">
        <div class="container-collapse__close--txt">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliqui        </div>
      </div>
    </div>
  </div>

<!-- Formulario segmento -->
<div class="container-background">
  <div class="container-background__card"> 
    <div class="container-background__card__color"></div>
    <div class="container-background__card__form">
      <div class="container-background__card__form__sub-form">
        <form action="ejemplo.php" method="get" class="container-background__card__form__sub-form__container-form">
          
          <div class="container-background__card__form__sub-form__container-form__group">
            <div class="container-background__card__form__sub-form__container-form__group__container-imput-text">
              <p class="container-background__card__form__sub-form__container-form__group__container-imput-text__title">Name</p>
              <input type="text" name="nombre" class="container-background__card__form__sub-form__container-form__group__container-imput-text__imput">
            </div>
            <div class="container-background__card__form__sub-form__container-form__group__container-imput-text">
              <p class="container-background__card__form__sub-form__container-form__group__container-imput-text__title">Last Name</p>
              <input type="text" name="nombre" class="container-background__card__form__sub-form__container-form__group__container-imput-text__imput">
            </div>
          </div>

          <div class="container-background__card__form__sub-form__container-form__group">
            <div class="container-background__card__form__sub-form__container-form__group__container-imput-text">
              <p class="container-background__card__form__sub-form__container-form__group__container-imput-text__title">Tipo de Documento</p>
              <input type="text" name="nombre" class="container-background__card__form__sub-form__container-form__group__container-imput-text__imput">
            </div>
            <div class="container-background__card__form__sub-form__container-form__group__container-imput-text">
              <p class="container-background__card__form__sub-form__container-form__group__container-imput-text__title">Numero de Documento</p>
              <input type="text" name="nombre" class="container-background__card__form__sub-form__container-form__group__container-imput-text__imput">
            </div>
          </div>

          <div class="container-background__card__form__sub-form__container-form__group">
            <div class="container-background__card__form__sub-form__container-form__group__container-imput-text">
              <p class="container-background__card__form__sub-form__container-form__group__container-imput-text__title">E-mail</p>
              <input type="text" name="nombre" class="container-background__card__form__sub-form__container-form__group__container-imput-text__imput">
            </div>
            <div class="container-background__card__form__sub-form__container-form__group__container-imput-text">
              <p class="container-background__card__form__sub-form__container-form__group__container-imput-text__title">E-mail</p>
              <input type="text" name="nombre" class="container-background__card__form__sub-form__container-form__group__container-imput-text__imput">
            </div>
          </div>
        </form>
        <div class="container-background__card__form__sub-form__container-button">
          <textarea name="texto" rows="3" cols="30" class="container-background__card__form__sub-form__container-button--imput" style="margin-top: 30px;"></textarea>
          <button class="container-background__card__form__sub-form__container-button--send">ENVIAR</button>
        </div>
      </div>
    </div>
  </div>
</div>